extends layout
block styles
    link(href="/stylesheets/about.css" , rel="stylesheet")
block content
    section.about-top
    section.text-center(style="padding: 100px;")
        h2.our-mission-section
            strong Our Mission
        p
            strong We believe that by empowering women, you empower a family and a society,
                | It is important to focus to make women feel confident about themselves in the way they want to.

    div.about-middle(style="padding:0px; margin-left: 27%")
        .row
            .col-md-4.col-md-offset-4.col-md-offset-4
                img.img-handshake(src="/img/about/handshake-2009195.png", height="300px")
            
    section.text-center(style="padding: 100px;")
        h2.middle-heading
            strong Meet the Team
        p
            strong Our team is full of people with a creative itch. From musicians to filmmakers to wood-workers, Big Cartelers have something to put out in the world and we want to help.
    section.download.bg-primary.text-center#team(style="padding: 100px;")
        .container
            h3.middle-heading
                strong Our Team
            .row.clearfix
                //-   .col-md-8.mx-auto
                .col-md-4.div-team
                    img.team-image(src="/img/about/rj.jpeg", height="160px")
                    h3 Rajiv Jha 
                    p Founder
                    ul.list-inline.list-social
                        li.list-inline-item.social-twitter
                            a(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item.social-facebook
                            a(href='#')
                                i.fa.fa-facebook(aria-hidden='true')
                        li.list-inline-item.social-google-plus
                            a(href='#')
                                i.fa.fa-google-plus 
                .col-md-4.div-team
                    img.team-image(src="/img/about/rajiv.jpeg", height="130px")
                    h3 Rajiv Ranjan
                    p Member
                    ul.list-inline.list-social
                        li.list-inline-item.social-twitter
                            a(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item.social-facebook
                            a(href='#')
                                i.fa.fa-facebook(aria-hidden='true')
                        li.list-inline-item.social-google-plus
                            a(href='#')
                                i.fa.fa-google-plus
                .col-md-4.div-team
                    img.team-image(src="/img/about/rj.jpeg", height="130px")
                    h3 Drishti
                    p Member
                    ul.list-inline.list-social
                        li.list-inline-item.social-twitter
                            a(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item.social-facebook
                            a(href='#')
                        li.list-inline-item.social-google-plus
                            a(href='#')
                                i.fa.fa-google-plus
                .col-md-4.div-team
                    img.team-image(src="/img/about/pr.jpeg", height="130px")
                    h3 Prabhanshu 
                    p Member
                    ul.list-inline.list-social
                        li.list-inline-item.social-twitter
                            a(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item.social-facebook
                            a(href='#')
                                i.fa.fa-facebook(aria-hidden='true')
                        li.list-inline-item.social-google-plus
                            a(href='#')
                                i.fa.fa-google-plus 
                .col-md-4.div-team
                    img.team-image(src="/img/about/shu.jpeg", height="130px")
                    h3 shubham 
                    p Member
                    ul.list-inline.list-social
                        li.list-inline-item.social-twitter
                            a(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item.social-facebook
                            a(href='#')
                                i.fa.fa-facebook(aria-hidden='true')
                        li.list-inline-item.social-google-plus
                            a(href='#')
                                i.fa.fa-google-plus 
                .col-md-4.div-team
                    img.team-image(src="/img/about/shu.jpeg", height="130px")
                    h3 shubham 
                    p Member
                    ul.list-inline.list-social
                        li.list-inline-item.social-twitter
                            a(href='#')
                                i.fa.fa-twitter
                        li.list-inline-item.social-facebook
                            a(href='#')
                                i.fa.fa-facebook(aria-hidden='true')
                        li.list-inline-item.social-google-plus
                            a(href='#')
                                i.fa.fa-google-plus                 
            
            
             
            
block scripts