doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', type='image/png', href='/img/herm-logo2.png')
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/simple-line-icon2/css/simple-line-icons.css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    // Plugin CSS
    link(rel='stylesheet', href='/device-mockups/device-mockups.min.css')
    // Custom styles for this template
    link(href='/stylesheets/new-age-min.css', rel='stylesheet')

    link(href='/stylesheets/index.css', rel='stylesheet')

    title=title
    block styles
  body
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.navbar-custom
      .container
        a#scroll2.navbar-brand.js-scroll-trigger(href='#page-top') 
            img.logo(src='img/herm-logo2.png', alt='')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#download') Download
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#features') Features
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#connect') Connect
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#contact') Contact
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#team') Team
    block content
    footer.footer
        .container
            br
            .row.footer-section
                .col-md-3.d-none.d-sm-block.footer-section
                    h5 © herManager
                    p
                    | Build with 
                    span.love ❤
                    |  by 
                    a(href='#') Team herM
                .col-md-3
                    // <span class="footer-small">
                    a(href='#')
                        h5.footer-links About Us
                    a(href='#')
                        h5.footer-links Jobs
                    a(href='#')
                        h5.footer-links Blog
                    // </span>
                .col-md-3.footer-section
                    h5 Follow us:
                    h2
                        .header-icons
                            a(aria-label='Send email', href='https://plus.google.com/u/0/b/115669083873905775962/115669083873905775962')
                                i.icon.fa.fa-envelope
                            a(aria-label='My Facebook', target='_blank', href='https://www.facebook.com/HerM-269175643830503/?modal=admin_todo_tour')
                                i.icon.fa.fa-facebook(aria-hidden='true')
                            a(aria-label='My LinkedIn', target='_blank', href='https://www.linkedin.com/company/hermanager/')
                                i.icon.fa.fa-linkedin(aria-hidden='true')
                            a(aria-label='My Github', target='_blank', href='https://github.com/Hermanager/herm')
                                i.icon.fa.fa-github-alt(aria-hidden='true')
                            br
                .col-md-3.footer-section
                    h5 Contact Us
                    span.footer-small
                    p Divine life society, Amar Colony, Lajpat Nagar - IV, Delhi - 110024
                    p info@herm.life
                    p +91 84480 22033
                    p
        hr
        p.footer-small A product of Jaymant and Sons OPC Pvt. Ltd

    // Bootstrap core JavaScript
    script(src='/scripts/jquery/jquery.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='/scripts/jqueryeasing/jquery.easing.min.js')
    // Custom scripts for this template
    script(src='/scripts/herm.min.js')
    

    block scripts