.logo {
    height: 50px !important;
    width: 50px !important;

}
.navbar-custom {
    border-color: rgba(34,34,34,.1) !important;
    background: linear-gradient(to right, rgb(244, 237, 245),rgb(231, 225, 225) ,rgb(235, 76, 76),#db2431,#b83057,#a3366d,#893e88);
}

